
<h2>{{title}}</h2>
<input class="mb-4" type="text" disabled value="{{ calculatorView.result }}">
<div class="row">
    <div class="col-lg-4">
        {{#calculatorView.buttons}}
            <div class="btn btn-info">{{ value }} <br></div>
        {{/calculatorView.buttons}}
    </div>
</div>

